body {
  font-family: Verdana, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #214AC6;
}

#topheader {
    border: 1px solid black;
    background-color: white;
}

#pmtimeline {
    margin-top: 10px;
    height: 350px;
    border: 1px solid #aaa;
}

.submitform {
    padding: 10px 10px 10px 10px;
}

p.navigation {
    border: 1px solid black;
    font-weight: normal;
    font-family: helvetica tahoma sans-serif;
    text-align: left;
    margin: 0;
}

div#leftpanel {
    text-align: left;
    float: left;
    width: 28%;
    height: 100%;
}

div#episode {
    float: right;
    width: 68%;
}

div.contributor {
    clear:left;
    text-align:center;
    border-bottom: dotted 1px black;
    padding-left:2px;
    margin: 2px 5px 2px 5px;
}

div.contributorcontainer {
    float:left;
    width:270px;
    border-right: dotted 1px black;
    border-left: dotted 1px black;
    text-align: center;
    margin: 0px 10px 10px 10px;
}
