#topheader {
    border: 1px solid black;
    background-color: white;
}

p.navigation {
    border: 1px solid black;
    font-weight: normal;
    font-family: monospace;
    font-size: large;
    text-align: left;
    color: #EFFFCD;
    background-color: #99173C;
    margin: 0;
}

div#leftpanel {
    text-align: left;
    float: left;
    width: 28%;
    height: 100%;
}

div#episode {
    float: right;
    width: 68%;
}