body {
  font-family: Verdana, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #214AC6;
}

#topheader {
    border: 1px solid black;
    background-color: white;
}

#pmtimeline {
    margin-top: 30px;
    height: 350px;
    border: 1px solid #aaa;
}

.submitform {
    padding: 10px 10px 10px 10px;
}

p.navigation {
    border: 1px solid black;
    font-weight: normal;
    font-family: helvetica tahoma sans-serif;
    text-align: left;
    margin: 0;
}

div#leftpanel {
    text-align: left;
    float: left;
    width: 28%;
    height: 100%;
}

div#episode {
    float: right;
    width: 68%;
}
